.tableWrapper {
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.appTitle {
    color: #FFFFFF;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #0f288f, #6cdbca, #9c0cd5, #9b23db, #21bbd3, #f011e9, #3adde9, #76d47f, #0f288f, #6cdbca, #9c0cd5, #9b23db);
    background-size: 400% 400%;
    animation: animate 15s ease infinite;
}

@keyframes animate {
    0%{
        background-position: 0 0;}
    25%
        {background-position: 100% 0;}
    50%
        {background-position: 100% 100%;}
    75%
        {background-position: 0 100%;}
    100%
        {background-position: 0 0}
}
    
.table {
    font-size: 20px;
    max-height: 500px;
    overflow: scroll;
    border-collapse: collapse;
    margin: 10px;
}

.table thead tr {
    text-align: left;
    color: white;
}

thead {
    position: sticky;
    top: 0;
    background-color: #232323;
}

.table th, 
.table td {
    padding: 12px 15px;
    color: #fff;
}

.taskTitle {
    cursor: pointer;
}

.taskTitle:hover {
    color: #6C63FF;
}

.table tbody tr {
    border-bottom: 0.5px solid #6C63FF;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #fff;
}

.tableWrapper::-webkit-scrollbar {
    width: 6px;
}

.tableWrapper::-webkit-scrollbar-track {
    background: #FFF;
    border-radius: 3px;
    padding-top: 50px;
    margin-top: 30px;
}

.tableWrapper::-webkit-scrollbar-thumb {
    background: #a9a4ff;
    border-radius: 3px;
    width: 2spx;
}

.tableWrapper::-webkit-scrollbar-thumb:hover {
    background: #6C63FF;
}

.actionButtons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.actionButtons button, .addButton {
    background-color: #6C63FF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
}

.firstOption {
    display: none;
}

.table select {
    color: #6C63FF;
    font-weight: 600;
    border: none;
    outline: none;
}

.top {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter {
    border: 2px solid #6C63FF;
    padding: 0 5px;
    border-radius: 5px;
    outline: none;
}