.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    gap: 10px;
}

.form textarea {
    display: block;
    resize: none;
    width: 100%;
    height: 200px;
    padding: 10px;
}

.form input {
    display: block;
    width: 100%;
}

.formTop {
    width: 100%;
    display: flex;
    gap: 10px;
}

.form button {
    background-color: #6C63FF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
}

.requiredSymbol {
    color: red;
}

.formTop {
    display: inline;
}