.todo {
    margin: 0 auto;
    width: max-content;
    margin-top: 20px;
    background-color: #232323;
    padding: 15px;
    border-radius: 18px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 10, 0.4);
}